.progress-bar {
	height: 25px;
	width: 100%;
	background: hsl(0deg 0% 92%);
	border: 1px solid hsl(0deg 0% 84%);
	border-radius: 25px;
	position: relative;
	overflow: hidden;

	& .pb-text {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1;
	}

	& .pb-progress {
		background: #52bb52;
		height: 100%;
		transition: scale 300ms linear, width 300ms linear;
	}
}
