.tl-container {
	max-width: 1050px;
	margin-inline: auto;
}

// Ticket List Card
.tl-card {
	background: #ffffff;
	border-radius: 4px;
	&__header {
		padding: 25px 30px;
		border-bottom: 1px solid #ededed;
		&--flex-between {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&--filter-search {
			display: flex;
			gap: 10px;
		}
	}
	&__body {
		padding: 30px;
	}

	&--support-forum {
		.tl-card__body {
			max-width: 600px;
			text-align: center;
			margin-inline: auto;
			@include breakpoint-min(desktop-lg) {
				padding-block: 80px;
				.tl-form-group {
					margin-inline: auto;
					max-width: 370px;
				}
			}
		}
	}
}

.tl-status {
	font-weight: 500;
	font-size: 10px;
	line-height: 18px;
	letter-spacing: 0.26px;
	text-transform: uppercase;
	color: #ffffff;
	background: #e6e6e6;
	border-radius: 14px;
	padding: 3px 8px;

	&-open {
		background: #286ef1;
	}
	&-resolved {
		background: #52d194;
	}
	&-feedback {
		background: #9026b1;
	}
}

.tl-nothing-found {
	text-align: center;
	&__icon {
		margin-bottom: 30px;
	}
	&__title {
		font-weight: 700;
		font-size: 24px;
		line-height: 35px;
		text-align: center;
		letter-spacing: 0.26px;
		color: #333333;
		margin-bottom: 10px;
	}
	&__hints {
		font-size: 15px;
		line-height: 30px;
		letter-spacing: 0.26px;
		margin-bottom: 0;
		color: #555555;
	}
}
